@-moz-document url-prefix(about:newtab) {
  @media (prefers-color-scheme: dark) {
    body {
      --newtab-background-color: #1f1f1f!important;
      --newtab-topsites-label-color: #ffffff!important;
    }
  }
  
  @media (prefers-color-scheme: light) {
    body {
      --newtab-background-color: #ffe5eb!important;
      --newtab-topsites-label-color: #444444!important;
    }
  }
  
  body { transition: 0.5s; }
}